<script type = "text/javascript">
////////////////////////////
$(document).ready(function(){
	$('#close-modal').on("click",function(){ 
        $('#explore_modal').hide()
    })
})


</script>

<!-- ################################################### Explore Modal ################################################### -->
<div id="explore_modal_container" style="width:100% height:100%";>

	<button type="button" id="close-modal">Close</button>

	<!-- ################################################### Polar Chart Region ################################################### -->
	<div class="row" style="max-height:800px;">
	    <div class="col-lg-6" style="min-width:450px;">

	        <div align="center" class="row" >
	             <div align="center" style="width:100%;" id='country_chart'>
	                <svg style='height:450px;width:450px'> </svg>
	                </svg>
	            </div>
	        </div>

	        <div align="center" class="row" style="position:relative; left:10%;">
	            <div align="center" style="width:100%;" id='country_legend'>
	                <svg style='min-height:100px; max-width:100%'> </svg>
	                </svg>
	             </div>
	         </div>
	    </div>

	    <div class="col-lg-6" style="min-width:450px;">

	        <div align="center" class="row">
	             <div align="center" style="width:100%;" id='market_chart'>
	                <svg style='height:450px;width:450px'> </svg>
	                </svg>
	            </div>
	        </div>

	        <div align="center" class="row" style="position:relative; left:10%;">
	            <div align="center" style="width:100%;" id='market_legend'>
	                <svg style='min-height:100px; max-width:100%'> </svg>
	                </svg>
	             </div>
	         </div>
	    </div>





	</div>

</div>