{% extends "base.html" %}

{% block fund_level %} 

{% block css %}
{{block.super}}
{% endblock %}

{% block js %}
{{block.super}}
{% endblock %}

<script type = "text/javascript">
google.load('visualization', '1', {'packages': ['geochart']});
$(document).ready(function(){

    $('#base_nav li.active').removeClass('active');
    $('#fund_level_tab').addClass('active');

    $('#workspace_warning').hide()
    $('#workspace_success').hide()
    $( "#snapshot_date" ).datepicker();

    hideDataAlerts()
    loadFunds()

    ////////////////////////////////////
    // Control for W2 Tabs
    $(function () {
        $('#my_fund_Tabs').w2tabs({
            name :'my_fund_Tabs',
            active :'fund_overview',
            tabs    : [
                { id: 'fund_overview', caption: 'Overview' },
                { id: 'fund_exposure_base', caption: 'Exposure Analysis' },
                { id: 'fund_performance_base', caption: 'Performance Attribution' },
                { id: 'fund_daily_metrics_base', caption: 'Daily Metrics' },
            ],
            onClick: function (event) {
                delegate_fund_tab(event.target)
            }
        });
    });

    delegate_fund_tab('fund_overview')
        
})
////////////////////////////////////
// Controls the HTML Showing in Tab Content Area Based on Tab Selected
function delegate_fund_tab(target){

    url_dict = new Array()
    url_dict['fund_overview'] = '/templates/fund_level/fund_overview.html'
    url_dict['fund_exposure_base'] = '/templates/fund_level/fund_exposure_base.html'
    url_dict['fund_performance_base'] = '/templates/fund_level/fund_performance_base.html'
    url_dict['fund_daily_metrics_base'] = '/templates/fund_level/fund_daily_metrics_base.html'

    // Deprecated Temporarily
    if(target == 'fund_performance_base' || target == 'fund_daily_metrics_base'){
        alert('Temporarily Deprecated - Under Construction')
        return
    }

    var targetDirect = url_dict[target]

    $('#myfundTabContent').empty()
    $('#myfundTabContent').load(targetDirect);
}


///////////////////////////////////////////////////////////////////////////////
// Parses Data Report and Outputs Information Summarizing the Missing Securities for Given Portfolio
function handle_data_report(error_data,draw_table){

    num_missing_fatal_securities = error_data['num_missing_fatal_securities']
    num_missing_fatal_fields = error_data['num_missing_fatal_fields']
    num_assumption_securities = error_data['num_assumption_securities']
    num_assumptions = error_data['num_assumptions']

    fatal_data_report = error_data['fatal_data_report']
    nonfatal_data_report = error_data['nonfatal_data_report']

    num_missing_definitions = error_data['num_missing_definitions']
    num_assumptions = error_data['num_assumptions']

    /////////////////////////////////////////////////////
    if (num_assumption_securities > 0){
      $('#assumptions_warning a').html("Warning : A total of "+ String(num_assumption_securities)+" assumptions were made for made for "+String(num_assumption_securities)+" different securities in the calculation pool.")
    
      if (draw_table == true){
          assumptions_table = create_missing_data_table('#assumption_data_table',nonfatal_data_report)
          assumptions_table.draw()
          $('#assumption_data_table_row').show()
      }
      $('#assumptions_warning').show()
      $('#assumptions_success').hide()


    }
    else{
      $('#assumptions_success a').html("Success : No assumptions made for security attributes.")
      $('#assumptions_warning').hide()
      $('#assumptions_success').show()

      var dataTable = $('#assumption_data_table').DataTable({"pageLength": 12, "searching":false, "retrieve": true});
        dataTable.clear();
      $('#assumption_data_table_row').hide()
    }
    /////////////////////////////////////////////////////
    if (num_missing_fatal_securities > 0){
      $('#data_warning a').html("Warning : A total of "+ String(num_missing_fatal_fields)+" required data fields were missing for  "+String(num_missing_fatal_securities)+" different securities, these securities were removed from the exposure calculations.")

      if (draw_table == true){
          missing_data_table = create_missing_data_table('#missing_data_table',fatal_data_report)
          missing_data_table.draw()
          $('#missing_data_table_row').show()
      }

      $('#data_warning').show()
      $('#data_success').hide()

    }
    else{
        var dataTable = $('#missing_data_table').DataTable({"pageLength": 12, "searching":false, "retrieve": true});
        dataTable.clear();
        $('#missing_data_table_row').hide()

        $('#data_warning').hide()
        $('#data_success').show()
        $('#data_success a').html("Success : No Fatal Missing Data for Securities.  All Securities Included in Calculations")
            
    }
}

</script>

<!-- ############################################ Set Workspace Region ############################################### -->
<div class="row" style="position:relative; height:80px; left:20px; width:1300px;">

    <div class="col-md-3"  style="position:relative; right:10px; width:300px; top:10px; float:left">
         
           <div class="row" style="position:relative; top:4px;">
              <div class="col-md-6"><p>Select Fund:</p></div>
              <div class="col-md-6"><select id="fund_select" style="height:25px; width:250px;"></select></div>
           </div>

          <div class="row" style="position:relative; top:10px;">
            <div class="col-md-6"><p>Select Date:</p></div>
            <div class="col-md-6"><input style="background-color:#FFFFFF" type="text" id="snapshot_date"></input></div>
          </div>

          <div class="row" style="position:relative; top:20px;">
              <button style="position:relative; left:5px; float:right; bottom:4px;" class="btn btn-small btn-primary" id="setWorkspace">Set Workspace</button>
          </div>
    </div>

    <!-- ################## -->
    <div class="col-md-6" style="position:relative; top:15px; left:150px; width:600px;">
        <div id="workspace_warning" class="alert alert-danger alert_style" role="alert">
          <a href="#" class="alert-link"></a>
        </div>
        <div id="workspace_success" class="alert alert-success alert_style" role="alert">
          <a href="#" class="alert-link"></a>
        </div>
    </div>

</div>


<!-- ################################################### Exposure Menu Regiom ################################################### -->
<div class="row-fluid" style="position:relative; top:50px;">
    <!-- ################################################### Tab Content Region ################################################### -->
    <div id="my_fund_Tabs"></div>
    <div style="overflow:visible; position:relative; height:1000px; top:10px;"  id="myfundTabContent" class="nav nav-tabs tab-content"></div>
</div>

{% endblock %}

